.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    /* Ensure Swiper container does not overflow */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 320px;
    transition: transform 0.3s ease;


}

.swiper-slide img {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
    /* Only opacity transition for image */
}

.swiper-slide img.inactive {
    opacity: 0.3;

}

.swiper-slide img.active {
    opacity: 1;

}

.swiper-slide.inactive {
    transform: scale(0.8);
    /* Scale the entire swiper-slide */
}

.swiper-slide.active {
    transform: scale(1);
    /* Keep the active slide at normal scale */
}